<!DOCTYPE html>
<!-- Bootstrap -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cabin</title>
    <meta name="description" content="A place of meeting.">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.3.0/dist/flickity.css" media="screen">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/flickity@2.3.0/dist/flickity.pkgd.min.js"></script>
    <script>
        const USERNAME = "<%= username %>"
        const CABIN_ADDRESS = "<%= cabinAddress %>"
        const USER_ID = "<%= userId %>"

        var poppedUp = false
        
        var div;
        window.onload = () => { div = document.getElementById("popup")}
        async function copyText(text=`${USERNAME} is inviting you to a cabin! Join now: https://${location.hostname}/cabin/${CABIN_ADDRESS}`) {
            if (navigator.share) {
                navigator.share({
                    text: `${USERNAME} is inviting you to a cabin! Join now!`,
                    url: `https://${location.hostname}/cabin/${CABIN_ADDRESS}`,
                    title: `Firewood - Join Cabin`
                })
            }
            else {
                navigator.clipboard.writeText(text)
                if (poppedUp == false) {
                    poppedUp = true
                    div.style.setProperty('padding', '1rem')
                    const h1 = document.createElement("h1")
                    h1.classList.add("roboto", "popup")
                    h1.innerHTML = "The invite has been copied to your clipboard!"
                    div.appendChild(h1)
                    div.style.opacity = 0
                    fadeIn(div)
                    await sleep(1500)
                    fadeOut(div)
                    await sleep(400)
                    h1.remove()  
                }
                poppedUp = false
            }
        }

        async function fadeIn(element) {
            opacity = parseInt(getComputedStyle(element).getPropertyValue("opacity"))


            const interval = setInterval(() => {
            if (opacity < 1) {opacity += 0.05; element.style.opacity = opacity}
            else {
                clearInterval(interval);
                return true;
            }
            }, 20)
        }

        async function fadeOut(element) {

            opacity = parseInt(getComputedStyle(element).getPropertyValue("opacity"))


            const interval = setInterval(() => {
            if (opacity > 0) {opacity -= 0.05; element.style.opacity = opacity}
            else {clearInterval(interval);  element.style.opacity = 0; return true;}
            }, 20)
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>
    <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="../scripts/cabin/cabin.js" type="module" defer></script>
    <script src="../scripts/cabin/grid.js" defer></script>
</head>
<body style="margin:0px;">
    <div class="main-gallery">
        <div class="video-grid gallery-cell" id="video-grid1">
            
        </div>
    </div>


    <div id="popup" class="popup">

    </div>

    <div class="control-buttons bg-dark rounded"style="max-height: 320x; max-width: 320px;">
        <div id="buttons" class="d-flex justify-content-center" style="padding: 1rem;">
            <button id="toggle-mic" class="btn rounded-circle btn-light d-flex justify-content-center align-items-center invert grow mx-2">
                <i class="b bi bi-mic-fill glow"></i>
            </button>
            <button id="toggle-camera" class="btn rounded-circle btn-light d-flex justify-content-center align-items-center invert grow mx-2">
                <i class="b bi bi-camera-video-fill glow"></i>
            </button>
            <button id="leave" class="btn rounded-circle btn-danger d-flex justify-content-center align-items-center invert grow mx-2">
                <i class="b bi bi-telephone-fill glow" style="color: rgb(255, 255, 255)"></i>
            </button>
            <button onclick="copyText()" class="btn rounded-circle btn-success d-flex justify-content-center align-items-center invert grow mx-2">
                <i class="bi bi-share glow" style="color: rgb(255, 255, 255)"></i>
            </button>
            <!-- <button id="debug" class="btn rounded-circle btn-danger d-flex justify-content-center align-items-center invert grow mx-2">
                <i class="" style="color: rgb(255, 255, 255)">Debug</i>
            </button> -->
            <!-- <button id="flip-camera" class="btn rounded-circle btn-danger d-flex justify-content-center align-items-center invert grow mx-2">
                <i class="" style="color: rgb(255, 255, 255)">Flip</i>
            </button> -->
        </div>
        </div>
</body>
</html>